Repository AleksRap/my-webpack-start-template: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --noEmit, npm run lint, npm run stylelint

added css modules
  src/components/Pic/index.ts
  src/components/Pic/styles.module.scss
  src/components/Text/index.ts
  src/components/Text/style.scss
  src/components/Text/styles.module.scss
  src/components/index.ts
  src/index.ts
  src/types/index.d.ts
  tsconfig.json
  webpack.config.js
Due: bash -c tsc --noEmit, npm run lint, npm run stylelint

added plop generator files
  generator-templates/component.hbs
  generator-templates/styles.hbs
  package-lock.json
  package.json
  plopfile.js
Due: none

added miss libraries
  package-lock.json
  package.json
Due: none

added script husky
  package.json
Due: none

deleted unnecessary babel plugins
  .babelrc
  package-lock.json
  package.json
Due: none

added support for a new global type
  src/types/index.d.ts
Due: bash -c tsc --noEmit, npm run lint

deleted unnecessary component
  src/components/Pic/index.ts
  src/components/Pic/styles.module.scss
  src/components/index.ts
Due: bash -c tsc --noEmit, npm run lint, npm run stylelint

fixed start files
  src/index.scss
  src/index.ts
Due: bash -c tsc --noEmit, npm run lint, npm run stylelint

start readme
  README.md
Due: none

Path conditions:
  bash -c tsc --noEmit: any of: *.{ts,tsx}
  npm run lint: any of: *.{ts,tsx}
  npm run stylelint: any of: *.{scss,sass}
